// VARIABLES

// COLOR
$tan-color: #E6D8CB;
// $tan-color: #D8D5D0;
$dark-color: black;
$burnt-orange-color: black;
// $burnt-orange-color: black;
$blue-color: #1A6FEB;

// LAYOUT
$base-spacing: 30px;
$grid-columns: 16;
$grid-gutters: 0;
$layout-margin: $base-spacing;


// TYPE
$font-small: 16px;
$font-regular: 28px;
$font-medium: 69px;
$font-large: 99px;
$font-huge: 170px;
